body{
    /*background-image: url("./Misión-TIC-2022-Universidad-Sergio-Arboleda.jpg") ;*/
    /*background-color: rgb(rgb(54, 26, 99), green, blue);*/
    background-image: linear-gradient(135deg,  #F0246A  10%,  #856B93 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #20201f;
  }
.fieldset{
    background-color: #5961f9ad;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 30px;
}

legend{
    text-align: center;
    color: white;
    font-size: 30px;
}

.frm{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

[type='text']{
    display: block;
    width: 98%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
}

[type='email']{
    display: block;
    width: 98%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
}

.estcivil{
    display: block;
}



[type='date']{
    display: block;
    width: 50%;
}

label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fecha{
    display: block;
}

[type='submit']{
    margin-top: 30px;
    width: 120px;
    height: 20px;
}

.button{
    background-color:#F0246A;
  border: 2px solid white;
  color: white;
  height: 29px;
  padding: 0 20px;
  margin-bottom: 10px;
}