<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% if request.session.nombre_usuario %}
    <span>{{request.session.nombre_usuario}}</span>
    <span>{{usuarios.id_usuarios}}</span>
    <span>{{usuarios.nombre_usuario}}</span>

</head>

<body>
    <h1>bienvenido señor admin {{usuarios.nombre_usuario}}</h1>
    <a href="/formularioRegistro/">registrar Usuario</a>
    <a href="#">registrar Empledado</a>
    <a href="/formularioRegistroEmpresa/">registrar Empresa</a>
    <a href="/consultarUsuario/">Consultar usuario</a>
    <a href="/consultarEmpresa/">Consultar Empresa</a>
    <a href="#">Consultar Empleado</a>

</body>
{%endif%}

</html>