<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% if request.session.nombre_usuario %}
    <span>{{request.session.nombre_usuario}}</span>
</head>
<body>
    <h1>bienvenido señor admin</h1>
    <a href="">registrar usuario</a>
    <a href="">Consultar usuario</a>
    <a href="">Actualizar Usuario</a>
</body>
{%endif%}
</html>