<!DOCTYPE html>
<html lang="en">
<head>
    {% if request.session.nombre_usuario %}
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "../static/styles/consulta.css" %}'>
    <title>Document</title>
</head>
    <section class="sectiontres">
        <div class="titulo">Usuarios</div>
        <table class="tabla">
        <thead>
        <tr>
            <th>ID Usuario</th>
            <th>Email</th>
            <th hidden>Imagen</th>
            <th>Nombre Usuario</th>
            <th>Contraseña</th>
            <th>Rol</th>
            <th>Fecha creacion</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
        
        </tr>
        </thead>
        <tbody>
            {% for i in listadoUsuario %}
            <tr>
            <td>{{i.id_usuarios}}</td> 
            <td>{{i.email}}</td>
            <td hidden>{{i.imagen}}</td>
            <td>{{i.nombre_usuario}}</td>
            <td>{{i.password}}</td>
            <td>{{i.rol}}</td>
            <td>{{i.fecha_creacion}}</td>
            <td><a href="/actualizarUsuario/{{i.id_usuarios}}">Actualizar</a></td>
            <td><a href="/eliminarUsuario/{{i.id_usuarios}}">Eliminar</a></td>

            </tr>
            {% endfor %}

        </tbody>
        </table>
    </section>
</body>
{%endif%}
</html>