<!DOCTYPE html>
<html lang="en">

<head>
  {% load static%}
  <meta charset="UTF-8">
  <title>Consulta Empleados</title>
  {% if request.session.nombre_usuario %}
  <link rel="stylesheet" href='{% static "../static/styles/registroMovimientos.css" %}'>
  <link rel="stylesheet" href='{% static "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "https://fonts.googleapis.com/css?family=Tangerine" %}'>
</head>

<body>
  <!-- partial:index.partial.html -->
  <html>

  <head>
    <title>Empleados</title>

  </head>

  <body>
    <h3><strong>Registro Empleados</strong> </h3>
    

    <table class="tabla" style="background-color: black;">
      <thead>
      <tr>
          <th>ID Emp</th>
          <th>Nombre</th>
          <th>apellidos</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Id usuarios</th>
          <th>Id Empresa</th>
          <th>Fecha creacion</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
      
      </tr>
      </thead>
      <tbody>
          {% for i in listadoEmpleado %}
          <tr>
          <td>{{i.id_empleado}}</td> 
          <td>{{i.nombre}}</td>
          <td>{{i.apellidos}}</td>
          <td>{{i.email}}</td>
          <td>{{i.telefono}}</td>
          <td>{{i.id_usuarios}}</td>
          <td>{{i.id_empresa}}</td>
          <td>{{i.fecha_creacion}}</td>
          <td><a href="/actualizarUsuario/{{i.id_usuarios}}">Actualizar</a></td>

          </tr>
          {% endfor %}

      </tbody>
      </table>

  </body>
  {%endif%}

  </html>