<!DOCTYPE html>
<html lang="en">

<head>
  {% load static%}
  <meta charset="UTF-8">
  <title>Consulta MovEmpleado</title>
  {% if request.session.nombre_usuario %}
  <link rel="stylesheet" href='{% static "../static/styles/registroMovimientos.css" %}'>
  <link rel="stylesheet" href='{% static "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "https://fonts.googleapis.com/css?family=Tangerine" %}'>
</head>

<body>
  <!-- partial:index.partial.html -->
  <html>

  <head>
    <title>Empleado</title>

  </head>

  <body>
    <h3><strong>Registro de Movimientos</strong> </h3>
    

    <table class="tabla" style="background-color: black;">
      <thead>
      <tr>
          <th>ID Mov</th>
          <th>concepto</th>
          <th>monto</th>
          <th>tipo</th>
          <th>usuario</th>
          <th>Fecha Creacion</th>
      
      </tr>
      </thead>
      <tbody>
          {% for i in listadoMovimientos %}
          <tr>
          <td>{{i.id_movimientos}}</td> 
          <td>{{i.concepto}}</td>
          <td>{{i.monto}}</td>
          <td>{{i.tipo}}</td>
          <td>{{i.id_usuarios}}</td>
          <td>{{i.fecha_creacion}}</td>

          </tr>
          {% endfor %}

      </tbody>
      </table>

  </body>
  {%endif%}

  </html>