<!DOCTYPE html>
<html lang="es">
	{% load static%}
<head>
	<meta charset="UTF-8">
	<title>Página de ingreso de la cooperativa</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link href='{% static "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" %}'>
	<link rel="stylesheet" href='{% static "../static/styles/login.css" %}'>

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<h1></h1>
				<h2>Cooperativa G15</h2>
				<img src='{% static "../static/img/channels-642_misiontic_logo.png"%}'>
			</div>
		</div>


		<div class="right">
			<form action="" method="post">
				{%csrf_token%}
			<h5>Ingreso</h5>
			<div class="inputs">
				<input type="text" placeholder="Nombre de Usuario" name="nombre_usuario">
				<br>
				<input type="password" placeholder="Contraseña" name="password">
			</div>

			<br><br>

			<div class="remember-me--forget-password">
				<!-- Angular -->

				<button in type="submit">Ingresar</button>
				


			</div>

		</form>
		</div>

	</div>
	<!-- partial -->

</body>

</html>