<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
  <meta charset="UTF-8">
  <title>Registro Usuarios</title>
  <link rel="stylesheet" href='{% static "../static/styles/registroUsuario.css" %}'>
  <link rel="stylesheet" href='{% static "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"%}'>
  <link rel="stylesheet" href='{% static "https://fonts.googleapis.com/css?family=Tangerine"%}'>

</head>

<body>
  <h3><strong> Crear Usuario</strong> </h3>


  <table align="center" cellpadding="10">
    <form action="/usuario/" method="POST" class="frm">
      <!----- First Name ---------------------------------------------------------->
      <tr>
        <td> Id usuario</td>
        <td><input type="text" name="id_usuarios" />

        </td>
      </tr>

      <tr>
        <td> Email</td>
        <td><input type="email" name="email" />

        </td>
      </tr>


      <tr>
        <td>Nombre Usuario</td>
        <td><input type="text" name="nombre_usuario" />
        </td>
      </tr>

      <tr>
        <td>Contraseña</td>
        <td><input type="password" name="password" />
        </td>
      </tr>

      <tr>
        <td hidden>Imagen</td>
        <td><input type="hidden" name="imagen" />

        </td>
      </tr>

      <tr>
        <td>Rol</td>
        <td>
          <select name="rol">
            <!-- Opciones de la lista -->
            <option value="administrador">Administrador</option>
            <option value="empleado" selected> Empleado</option> <!-- Opción por defecto -->
          </select>
        </td>
      </tr>
      <div id="botones">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
  </table>
</body>

</html>