<!DOCTYPE html>
<html lang="en">

<head>
  {% load static%}
  <meta charset="UTF-8">
  <title>Empleado</title>
  {% if request.session.nombre_usuario %}
  <link rel="stylesheet" href='{% static "../static/styles/registroMovimientos.css" %}'>
  <link rel="stylesheet" href='{% static "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "https://fonts.googleapis.com/css?family=Tangerine" %}'>
</head>

<body>
  <!-- partial:index.partial.html -->
  <html>

  <head>
    <title>Empleado</title>

  </head>

  <body>
    <h3><strong>Bienvenido {{datosEmpleados.nombre}}</strong> </h3>
    <h3>Empresa {{datosEmpleados.id_empresa}}</h3>


    <table align="center" cellpadding="10">
      <tr>
        <form action="/movimientos/" method="POST" class="frm">
          {%csrf_token%}
      <tr>
        <td> Concepto</td>
        <td><input type="text" name="concepto" placeholder="Descripcion movimiento" />
        </td>
      </tr>
      <tr>
        <td> Tipo Mov</td>
        <td><select name="tipo" style="text-align: center;">
            <!-- Opciones de la lista -->
            <option value="ingreso">Ingreso</option>
            <option value="egreso" selected> Egreso</option> <!-- Opción por defecto -->
          </select>
        </td>

      </tr>

      <!----- Last Name ---------------------------------------------------------->
      <tr>
        <td>Valor</td>
        <td><input type="text" name="monto" placeholder="$" />
        </td>
      </tr>

      <tr>
        <td><input type="hidden" name="id_usuarios" value="{{empleado.id_usuarios}}" />
        </td>
      </tr>
      </tr>
    </table>
    <table>
      <tr>
        <td>{{mensaje.1}}</td>
      </tr>
    </table>

    <table align="center" cellpadding="10">
      <tr>
        <td><button type="submit" class="btn btn-primary">Crear</button></td>
        </form>
        <form action="/movimientos/{{empleado.id_usuarios}}" method="" class="">
          <td><button type="submit" class="btn btn-danger">Listar</button></td>
        </form>
        <form action="/ActualizarMisDatos/{{empleado.id_usuarios}}" method="" class="">
          <td><button type="submit" class="btn btn-danger">Actualizar datos</button></td>
        </form>
        </td>
    </table>

  </body>
  {%endif%}

  </html>