<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Empleado</title>
  <link rel="stylesheet" href="../Estilo/UsuarioAplicacion.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css
">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
<!-- partial:index.partial.html -->
<html>
<head>
<title>Empleado</title>

</head>
 
<body>
<h3><strong>Empleado</strong> </h3>

 
<table align="center" cellpadding = "10">
 
<!----- First Name ---------------------------------------------------------->
<tr>
<td> Nombre</td>
<td><input type="text" name="First_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>
 
<!----- Last Name ---------------------------------------------------------->
<tr>
<td>Apellido</td>
<td><input type="text" name="Last_Name" maxlength="30"/>
  (max 31 caracteres a-z y A-Z)
  
</td>
</tr>
 

<tr>
  <td>email</td>
  <td><input type="text" name="Last_Name" maxlength="30"/>
    (max 31 caracteres a-z y A-Z)
  </td>
  </tr>

  <tr>
    <td>Telefono</td>
    <td><input type="text" name="Last_Name" maxlength="30"/>
      (max 31 caracteres a-z y A-Z)
    </td>
    </tr>

    <tr>
      <td>Empresa</td>
      <td><input type="text" name="Last_Name" maxlength="30"/>
        (max 31 caracteres a-z y A-Z)
      </td>
      </tr>
       
       
        </td>
        
        </tr>

<div id="botones">
    <button type="button" class="btn btn-secondary">Actualizar</button>
</div>
       
     
</body>
</html>